body, table, td, th, a {
background:#fff;
font-family:verdana,helvetica,arial;
font-size:18px;
line-height: 175%
}
a:link, a:visited, a:active {
text-decoration: underline
}
a:visited {
color: purple;
}
